.free-limited {
  width: var(--hd-container);
  margin: auto;
  position: relative;
  margin-top: 50px;
  animation-name: fadein;
  animation-duration: var(--components-fadein-duration);
  overflow-x: hidden;
}
.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.row-header h3 {
  color: white;
  font-weight: normal;
}
.row-header a {
  color: white;
  border: solid #333 1px;
  padding: 5px 10px;
  font-size: 12px;
}
.free-limited__list-container {
  position: relative;
  width: 100%;
  display: flex;
  font-size: 14px;
}

.free-limited-item {
  position: relative;
  width: 100%;
  margin-right: 15px;
  cursor: pointer;
}

.free-limited-item:last-child {
  margin: 0;
}
.free-limited-item__image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.free-limited-item__image img {
  width: 100%;
  transition: filter 200ms ease-in-out;
}

.free-limited-item__image img:hover {
  filter: brightness(1.2);
}
.free-limited-item__image span {
  padding: 6px;
  font-size: 12px;
  color: white;
  background: #000;
  display: block;
  text-align: center;
}

.free-limited__info {
  color: var(--dark-grey);
  margin-top: 10px;
}

.free-limited__info p:first-child {
  color: white;
}
@media screen and (min-width: 1921px) {
  .free-limited {
    width: var(--bigger-container);
  }
}
@media screen and (max-width: 960px) {
  .free-limited {
    width: var(--mobile-container);
  }
  .free-limited__list-container {
    position: relative;
    display: flex;
    width: auto;
  }
}

@media screen and (max-width: 760px) {
  .free-limited-item {
    min-width: 100%;
  }
}
