<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EpicStore - add slider</title>
    <style>
      a {
        color: white;
      }
      body {
        background: #222;
        color: white;
      }
      form {
        position: relative;
        padding: 50px;
        box-sizing: border-box;
        top: 30%;
        display: flex;
        flex-direction: column;
        left: 50%;
        margin-left: -250px;
        margin-top: -250px;
        border: solid #111 2px;
        width: 500px;
        height: auto;
      }
      label {
        padding: 10px 0;
        font-size: 18px;
      }
      input {
        display: block;
        padding: 10px;
        font-size: 18px;
      }
      .uppercase {
      }
      textarea {
        width: 100%;
        height: 300px;
        padding: 10px;
        font-size: 18px;
      }

      button {
        padding: 10px;
        cursor: pointer;
        background: lightgreen;
        color: #111;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <%- include("nav") -%>
    <form method="POST">
      <label>Img URL</label>
      <input type="file" name="imgURL" placeholder="img url..." required />
      <label>Name</label>
      <input type="text" name="name" placeholder="Name..." required />
      <label>Status</label>
      <select>
        <option>COMING SOON</option>
        <option>FREE NOW</option>
      </select>
      <label>Description</label>
      <textarea
        type="text"
        name="desc"
        placeholder="Description..."
        required
      ></textarea>

      <button type="submit">Add slider</button>
    </form>
  </body>
</html>
