.game-page-slider {
  position: relative;
  width: 65%;

  margin: auto;
  display: flex;
}

.game-page-slider__video {
  padding: 0 20px;
  position: relative;
  min-width: 100%;

  height: calc(250px + 22vw);
}

.game-page-slider__video iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.game-page-slider__image {
  padding: 0 20px;
  position: relative;
  min-width: 100%;
  height: calc(250px + 22vw);
  transition: opacity 100ms ease-in-out;
}

.game-page-slider__image img {
  position: relative;
  width: 100%;
  height: 100%;
}
.game-page-slider:hover .ctrl {
  opacity: 1;
}
.ctrl {
  opacity: 0;
  position: absolute;
  background: var(--special-background);
  color: white;
  z-index: 1;
  display: flex;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  user-select: none;
  transition: opacity 200ms ease-in-out;
}
.game-page-slider__left {
  left: -60px;
}

.game-page-right {
  right: -60px;
}
.game-page-slider__track {
  position: relative;
  width: 100%;
  display: flex;
  transition: transform 200ms ease-in-out;
}

.game-page-slider__show-more {
  display: none;
}

@media screen and (max-width: 960px) {
  .game-page-slider {
    width: 90%;
    height: auto;
  }
  .game-page-slider__track {
    height: calc(160px + 42vw);
    overflow: hidden;
    padding-bottom: 50px;
  }
  .game-page-slider__track.show-more {
    height: auto;
    overflow: visible;
    transition: height 200ms ease-in-out;
  }
  .game-page-slider__image img {
    object-fit: cover;
    height: auto;
  }
  .game-page-slider__video {
    padding: 0;
    height: calc(60px + 42vw);
    margin-bottom: 5px;
  }

  .game-page-slider__image {
    padding: 0;

    height: auto;
  }
  .game-page-slider__track {
    flex-direction: column;
  }
  .game-page-slider__left {
    left: 5px;
  }

  .game-page-right {
    right: 5px;
  }
  .ctrl {
    display: none;
  }
  .game-page-slider__show-more {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: var(--special-background);
    color: white;
    text-align: center;
    cursor: pointer;
  }
}
