.game-card {
  position: relative;
  width: 100%;
  margin-right: 15px;
  height: auto;
}
.game-card h3 {
  color: white;
  font-weight: normal;
}
.game-card p:first-child {
  color: white;
}
.game-card__image {
  position: relative;
  width: 100%;
}

.game-card img {
  position: relative;
  width: 100%;
  transition: filter 200ms ease-in-out;
}
.game-card__image:hover img {
  filter: brightness(1.2);
}
.game-card:last-child {
  margin-right: 0;
}
.game-card__info {
  margin-top: 10px;
}
.game-card__price {
  color: white;
  font-size: 16px;
}
.game-card__developer {
  color: grey;
}
@media screen and (min-width: 1921px) {
  .game-card__image {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .game-card__image {
    width: 100%;
  }
  .game-card {
    position: relative;
    width: 48.5%;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .game-card:last-child {
    display: none;
  }
}
