.slider-newgames {
  width: var(--hd-container);
  margin: auto;
  position: relative;
  display: flex;
  margin-top: 100px;
  cursor: pointer;
  height: 100%;
  background: var(--tertiary-background);
  animation-name: fadein;
  animation-duration: var(--components-fadein-duration);
  overflow: hidden;
}

.slider-newgames__image {
  position: relative;
  width: calc(1200px + 50vw);
  display: flex;
}
.slider-newgames__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms 100ms ease-in-out;
  position: relative;
  left: 0px;
  top: 0;
  user-select: none;
}

.arrow {
  display: none;
}
.slider-newgames__content-container {
  z-index: 1;
  background: var(--tertiary-background);
  padding: 30px 42px;
  width: calc(450px + 42vw);
  transition: background 100ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-newgames__content-container:hover {
  background: #333;
}
.slider-newgames__controls {
  display: flex;
  position: relative;
  left: -18px;
  margin-bottom: 0px;
}
.slider-newgames__controls p:hover {
  background: #444;
}
.slider-newgames__arrows {
  display: flex;
}
.slider-newgames__arrows p {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: var(--special-color-hover);
  cursor: pointer;
  font-size: 14px;
}
.slider-newgames__dots {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dot-container {
  padding: 10px;
  cursor: pointer;
  position: relative;
  left: 30px;
}
.dot-container:hover .dot {
  background: #fff;
}
.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #666;
  transition: background 400ms 100ms ease-in-out;
  margin-right: 15px;
}
.dot-active {
  background: white;
}
.dot:last-child {
  margin: 0;
}

.slider-newgames__content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: auto;
}
.content__status {
  font-size: 12px;
  font-weight: bold;
  color: var(--dark-grey);
}
.content__info {
  margin: 10px 0;
  color: var(--special-color);
  top: 10px;
}
.content__info h1 {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.content__info p {
  max-width: 400px;
  height: 75px;
  font-size: 16px;
  color: var(--dark-grey);
  margin: 0;
}
.slider-newgames__learn {
  position: relative;
  color: #fff;
}
.slider-newgames__learn a {
  color: #fff;
  font-size: 14px;
}
@media screen and (min-width: 1921px) {
  .slider-newgames {
    width: var(--bigger-container);
  }
}
@media screen and (max-width: 1250px) {
  .slider-newgames__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slider-newgames__content-container {
    padding: 20px 20px 30px 20px;
  }
  .content__info h1 {
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .content__info p {
    font-size: 12px;
    line-height: 20px;
  }
  .content__status {
    font-size: 10px;
    font-weight: normal;
  }
  .slider-newgames__learn a {
    color: #fff;
    font-size: 12px;
  }
}

@media screen and (max-width: 960px) {
  .slider-newgames {
    width: 100%;
  }
  .slider-newgames {
    flex-direction: column;
  }
  .slider-newgames__content-container {
    width: 100%;
    position: relative;
    top: 0px;
    padding: 20px;
  }
  .slider-newgames__content {
    top: 0;
    height: 120px;
  }
  .content__info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .content__info p {
    font-size: 14px;
  }
  .slider-newgames__image {
    width: 100%;
  }
  .slider-newgames__image img {
    height: auto;
  }
  .arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    background: rgba(0, 0, 0, 0.5);
    transition: background 100ms ease-in-out;
  }
  .arrow:hover {
    background: var(--tertiary-background);
  }
  .arrow i {
    font-size: 14px;
    color: white;
  }
  .left-arrow {
    left: 5px;
  }

  .right-arrow {
    right: 5px;
  }
  .slider-newgames__arrows {
    display: none;
  }
  .dot-container {
    padding: 10px;
    cursor: pointer;
    position: relative;
    left: 10px;
  }
  .slider-newgames__dots {
    justify-content: flex-start;
    align-items: left;
  }
  .dot-container {
    padding: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 583px) {
  .slider-newgames__image {
    position: relative;
    width: 100%;
    height: auto;
  }
  .slider-newgames__image img {
    width: 101%;
    object-fit: contain;
  }
}
