.browse-page-filter_container{
    min-width: 300px;
    margin-top: 150px;
    padding: 0px 40px;
}

.browse-page-filter_container ul li,span {
    display: block;
    padding: 10px 0;
}

.browse-page-filter_container ul li{
    color:var(--special-color);
}

.browse-page-filter_container ul li ul li {
    padding: 10px 0;
}