.GamePage-wrapper {
  width: 100%;
  margin-top: var(--main-nav-height);
  height: auto;
  animation-name: fadein;
  animation-duration: var(--components-fadein-duration);
}

.GamePage-content {
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 1921px) {
  .GamePage-content {
    width: 60%;
  }
  .GamePage-wrapper {
    width: 2200px;
    overflow: hidden;
    border: solid 1px black;
    margin: auto;
    margin-top: var(--main-nav-height);
  }
}
@media screen and (max-width: 1400px) {
  .GamePage-wrapper {
    height: auto;
  }
  .GamePage-content {
    width: 90%;
  }
}
