.GamePage-wrapper {
  width: 100%;
  margin-top: var(--main-nav-height);
  height: auto;
  animation-name: fadein;
  animation-duration: var(--components-fadein-duration);
  background: var(--primary-background);
  margin-left: auto;
  margin-right: auto;
}

.GamePage-content {
  width: 75%;
  margin: auto;
}
@media screen and (min-width: 2561px) {
  .GamePage-wrapper {
    width: 2400px;
  }
}
@media screen and (min-width: 1921px) {
  .GamePage-content {
    width: 65%;
  }
  .GamePage-wrapper {
    width: 95%;
  }
}
@media screen and (max-width: 1400px) {
  .GamePage-wrapper {
    height: auto;
  }
  .GamePage-content {
    width: 90%;
  }
}
